/* navigation */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
	color: #000000;
}

.nav-link:hover {
	color: #000000;
}

@media (min-width: 992px) {
  .nav-link:hover {
    border-bottom: 3px #000000 solid;
  }
}

/* main screen */
h1 {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  font-size: 3.5em;
}

.main-screen {
  min-height: 100vh;

  background: #03001e;
  background: -webkit-linear-gradient(to left, #ec38bc, #7303c0);
  background: linear-gradient(to left, #ec38bc, #7303c0);

  box-shadow: 0 0 20px black;
}

/* for > md */
@media (min-width: 768px) {
  .main-screen {
    background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0);
    background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0);
  }
}

.main-screen-content {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* for <= sm */
  min-height: 40vh;
  margin-left: 0px;
  text-align: center;
}

.main-screen-heading {
  animation: show 1.5s ease;
  z-index: 1;
}

.main-screen-image {
  position: static;
  z-index: 0;
}

.main-screen-image>img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40vw;
}

.main-screen-image-sm {
  margin-top: 5em;
  position: static;
}

.main-screen-image-sm>img {
  width: 100%;
}

/* for >= md */
@media (min-width: 768px) {
  .main-screen-content {
    text-align: left;
    margin-left: 5em;
    min-height: 90vh;
  }
}

.social-icon {
  height: 24px;
}

.social-icon-group {
	margin-left: auto;
}

.social-icon-group>a:first-child {
	margin-right: 8px;
}

.social-icon-group>a:hover {
	text-decoration: none;
}

/* for > md */
@media (min-width: 992px) {
  .social-icon-group {
		margin-left: 0;
	}

	.social-icon-group>a:first-child {
		margin-right: 1.3em;
	}
}

.button {
  color: #000000;
  background-color: #FDE640;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  width: fit-content;
}

.button:hover {
  color: #000000;
  text-decoration: none;
  background-color: #fdeff9;
  transition: 0.3s;
}

/* services section */
#services {
	padding-top: 4em;
	padding-bottom: 4em;
}

.propose-item {
	min-height: 4em;
	margin: auto 0;
}

.info {
  padding: 1em 0;
  opacity: 0.5;
  font-size: 14px;
}

#services-table {
	width: 100%;
	font-size: larger;
}

#services-table>tbody>tr>td {
	padding: 10px 0;
	column-width: fit-content;
}

#services-table>tbody>tr>td:nth-child(1) {
	width: 100%;
}

#services-table>tbody>tr>td:nth-child(2) {
	display: flex;
}

#services-table>tbody>tr>td>a {
	color: #000000;
}

#services-table>tbody>tr>td>a:hover {
	color: #000000;
	text-decoration: none;
}

.price {
  font-weight: 700;
  font-size: 18px;
	line-height: 20px;
	padding-right: 4px;
}

.price-currency {
  font-weight: 700;
  font-size: 13px;
}

.deprecated-price {
  text-decoration: line-through;
  color: #585858;
  font-weight: 400;
  font-size: 13px;
}

/* exapmles section */

#examples {
	color: #58554B;
	background-color: rgb(245, 245, 245);
  padding: 4em 15px 4em;
}

#gallery-column {
	padding: 0; /* only if sm || xs */
	margin: auto;
}

/* only if >= md */
@media (min-width: 768px) {
  #gallery-column {
		padding: 0 15px;
	}
}

.example>img {
  width: 100%;
  text-align: center;
	border-radius: 50%;
}

.carousel-item>img {
  width: 100%;
  min-height: 60vh;
}

blockquote {
  margin: 0;
  text-align: center;
  color: #58554B;
  padding: 30px 50px;
  margin-bottom: 10px;
}

blockquote p {
  margin-top: 0;
  font-size: 20px;
  line-height: 1.25;
}

blockquote cite {
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
}

/* 	contacts section */
#contacts {
	padding: 4em 3em 2em 3em;
  background-color: #111111;
  color: #ffffff;
}

#google-map {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 1.2em;
}

.contact>img {
	margin-right: 10px;
	height: 24px;
}

.contact>address {
  margin: 0;
}

.contact>a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #111111;
  color: #999999;
  padding: 15px 0px;
  text-align: center;
}

footer>small>a {
  color: #FDE640;
}

footer>small>a:hover {
  color: #FDE640;
}
