.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
	color: #000000;
}

.nav-link:hover {
	color: #000000;
/*  
	color: transaparent;
background: -webkit-gradient(linear, right top, left top, from(#ec38bc), to(#7303c0));
  background: -o-linear-gradient(right, #ec38bc, #7303c0);
	background: linear-gradient(to left, #ec38bc, #7303c0);
	-webkit-background-clip: text; 
	background-clip: text;
*/
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

@media (min-width: 992px) {
  .nav-link:hover {
		border-bottom: 3px #000000 solid;
  }
}

.image-container {
	padding-right: 0;
}

.image-container>img {
	width: 100%;
	cursor: zoom-in
}